params {
    ont = null // Path to ONT FASTQ
    
    pb = null // Path to PacBio FASTQ
    
    ref = "$launchDir/ref/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna" // Path to reference FASTA, NOTE! FILE IS TOO BIG FOR GITHUB SO YOU MUCH DOWNLOAD FROM FTP.
    
    regions_of_interest = "$launchDir/ref/regions_of_interest_test.tsv" // Path to regions of interest TSV
    
    results = "$launchDir/results" // Path to output folder
    
    cpus = 1

	// where to place hifiasm results, including a FASTA of contigs
	assembly = params.results + "/02_hifiasm_assembly"}

process {
    executor = 'local'
    memory = '18 GB'
    cpus = 4
    time = '1h'
}

workDir = './work'

report {
    enabled = true
    overwrite = true
    file = 'report.html'
}

// PROFILE OPTIONS
profiles {
    standard {
        docker {
            enabled = true
        }

        process {
            withLabel: "seqkit" {
                container = "staphb/seqkit:2.8.1"
            }
        }

        process {
            withLabel: "map_and_extract" {
                container = "trentprall/map-and-extract:v2"
            }
        }

        process {
            withLabel: "hifiasm" {
                container = "trentprall/hifiasm-conda:v1" // this image is built for arm architecture and may not run on intell. Update to another hifiasm image to run elsewhere.
            }
        }
    }
}


// docker run -it -v $(pwd):/scratch -w /scratch trentprall/map-and-extract:v1 /bin/bash